[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-mongoengine = "0.9.3"
flask-login = "*"
mongoengine = "==0.24.2"
pymongo = "==3.12.3"
pytest = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
